@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  z-index: 3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

/* Navbar Transisi */
.nav-color {
  background-color: #1e1e1e !important;
  transition: all ease-in-out 0.3s;
}

.bg-transparent {
  transition: all ease-in 0.3s;
}

section {
  z-index: 2;
  position: relative;
}

/* Navbar tran */
.overlay {
  position: absolute;
  top: o;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 29, 32, 0.7);
  animation: o;
}

.bg-cover {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 20%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.navbar .navbar-brand {
  float: left;
  margin-top: -12px;
  outline: none;
  font-family: cursive;
}

#navbarResponsive {
  z-index: 999;
}

.navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav .nav-item {
  margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  transition: all 0.5s;
  margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show > .nav-link {
  color: #fff;
  padding-bottom: 25px;
  border-bottom: 3px solid #f33f3f;
}

.navbar .navbar-toggler-icon {
  background-image: none;
}

/* .navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff;
  height: 36px;
  outline: none;
  border-radius: 0px;
  position: absolute;
  right: 30px;
  top: 20px;
} */

.navbar .navbar-toggler-icon:after {
  content: '\f0c9';
  color: white;
  font-size: 18px;
  line-height: 26px;
  font-family: 'FontAwesome';
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0px;
}

h1,
h2,
.fw-bold {
  font-weight: 800 !important;
}

h5,
.fw-medium {
  text-align: center;
  font-weight: 600 !important;
}

a.filled-button:hover {
  background-color: #121212;
  color: #fff;
}

/* Edukasi */

.edukasi {
  font-family: cursive;
  text-align: center;
  padding-top: 50px;
}

/* Artiel */

.Trending,
h3 {
  font-family: 'Roboto', sans-serif;
}

.new,
h3 {
  font-family: 'Roboto', sans-serif;
}

.latest,
h3 {
  font-family: 'Roboto', sans-serif;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

/* Produk */
.produk,
h5 {
  font-family: cursive;
  padding-top: 14px;
}

/* Section Title */
.section-title::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: rgb(37, 37, 58);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 5px;
  bottom: 0px;
  background: #ffffff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@keyframes section-title-run {
  0% {
    left: 0;
  }

  50% {
    left: 145px;
  }

  100% {
    left: 0;
  }
}

@keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }

  50% {
    left: 50%;
    margin-left: 45px;
  }

  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@keyframes section-title-run-sm {
  0% {
    left: 0;
  }

  50% {
    left: 85px;
  }

  100% {
    left: 0;
  }
}

/* Responsive */
/*untuk layar device berukuran kecil*/
@media screen and (min-width: 450px) {
  .carous {
    padding: 15% 0 0 0;
  }

  body > .bgColorMobile {
    background-color: #1e1e1e !important;
  }

  .carousel-item > img {
    height: 300px;
    width: none;
  }

  .overlay h1 {
    font-size: 20px;
    font-weight: 600 !important;
  }

  .overlay h5 {
    font-size: 15px;
    font-weight: 400 !important;
  }
}

/*untuk layar device berukuran sedang*/
@media screen and (min-width: 550px) {
  .carous {
    padding: 7% 0 0 0;
  }

  body .bgColorMobile {
    background-color: transparent;
  }

  .overlay h1 {
    font-size: 25px;
    font-weight: 600 !important;
  }

  .carousel-item > img {
    height: 400px;
    width: none;
  }

  .overlay h5 {
    font-size: 20px;
    font-weight: 400 !important;
  }
}

/*untuk layar device berukuran 768*/
@media screen and (min-width: 768px) {
}

/*untuk layar device berukuran besar*/
@media screen and (min-width: 800px) {
  .carous {
    padding: 3% 0 0 0;
  }

  body .bgColorMobile {
    background-color: transparent;
  }

  .overlay h1 {
    font-size: 40px;
    font-weight: 600 !important;
  }

  .carousel-item > img {
    height: 600px;
    width: none;
  }

  .overlay h5 {
    font-size: 30px;
    font-weight: 400 !important;
  }
}

/* Untuk Layar Device berukuran lebih dari 1200 */
@media screen and (min-width: 1200px) {
  .overlay h5 {
    font-size: 45px;
    font-weight: 400 !important;
  }
  .overlay h1 {
    font-size: 50px;
    font-weight: 600 !important;
  }
}
