.navbar {
	z-index: 3;
}

.nav-color{
	background-color: #1e1e1e;
	transition: all ease-in-out 0.3s;
}

.bg-transparent{
	transition: all ease-in 0.3s;
}

header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 80px;
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

header .navbar {
	padding: 17px 0px;
}

.background-header .navbar {
	padding: 17px 0px;
}

.background-header {
	top: 0;
	position: fixed;
	background-color: #fff !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
	color: #121212 !important;
}

.background-header .navbar-nav a.nav-link {
	color: #1e1e1e !important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #f33f3f !important;
}

.navbar .navbar-brand {
	float: left;
	margin-top: -12px;
	outline: none;
}

.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #f33f3f;
}

#navbarResponsive {
	z-index: 999;
}

.navbar-collapse {
	text-align: center;
}

.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #fff;
	padding-bottom: 25px;
	border-bottom: 3px solid #f33f3f;
}

.navbar .navbar-toggler-icon {
	background-image: none;
}

.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}

.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #f33f3f;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}

#preloader .jumper {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	position: absolute;
	margin: auto;
	width: 50px;
	height: 50px;
}

#preloader .jumper>div {
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	opacity: 0;
	width: 50px;
	height: 50px;
	-webkit-animation: jumper 1s 0s linear infinite;
	animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
	-webkit-animation-delay: 0.33333s;
	animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
	-webkit-animation-delay: 0.66666s;
	animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

ul.social-icons li {
	display: inline-block;
	margin-right: 3px;
}

ul.social-icons li:last-child {
	margin-right: 0px;
}

ul.social-icons li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	background-color: #eee;
	color: #121212;
	font-size: 18px;
	text-align: center;
	transition: all .3s;
}

ul.social-icons li a:hover {
	background-color: #f33f3f;
	color: #fff;
}

a.filled-button {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

.section-heading {
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
}

.section-heading h2 {
	font-size: 28px;
	font-weight: 400;
	color: #1e1e1e;
	margin-bottom: 15px;
}

h4.b {
	font-size: 30px;
}